#container {
    position: relative;
    left: 100px;
    width: 900px;
    height: 600px;
    border: 5px black solid;
    background-color: limegreen;
    cursor: none;
}

#beehive {
    position: absolute;
    left: 405px;
    width: 90px;
    height: 90px;
    top: 5px;
}
#score {
    position:absolute;
    width: 105px;
    height: 30px;
    top: 0px;
    left: 790px;
    border: 5px black solid;

}
#points {
    position: absolute;
    width: 60px;
    height: 30px;
    top: 5px;
    left: 840px;
    border-color: 5px transparent;
}
#garden {
    position: absolute;
    width: 900px;
    height: 400px;
    left: 0px;
    top: 100px;
    background-color: saddlebrown;
}

.flowerButtons {
    background-color: transparent;
    border-color: white;
    width: 70px;
    height: 70px;
    background-image: url(images/bee-animated-gif-17.gif);
    cursor: none;
}

.flower:hover {
    transform: scale(1.25);
    cursor: none;
}

#flower1 {
    position: absolute;
    left: 125px;
    top: 100px;
}

#flower2 {
    position: absolute;
    left: 175px;
    top: 250px;
}

#flower3 {
    position: absolute;
    left: 500px;
    top: 50px;

}

#flower4 {
    position: absolute;
    left: 400px;
    top: 175px;

}

#flower5 {
    position: absolute;
    left: 800px;
    top: 200px;

}

#flower6 {
    position: absolute;
    left: 650px;
    top: 300px;

}

#flowerButton1 {
    left: 125px;
    top: 100px;
}

#flowerButton2 {
    left: 175px;
    top: 250px;
}

#flowerButton3 {
    left: 500px;
    top: 50px;
}

#flowerButton4 {
    left: 400px;
    top: 175px;
}

#flowerButton5 {
    left: 800px;
    top: 200px;
}

#flowerButton6 {
    left: 650px;
    top: 300px;
}


#ernesto {
    position: absolute;
    left: 428px;
    width: 45px;
    height: 45px;
    top: 530px;
    transition: transform .1s, background .2s, left .2s ease-out, top .2s ease-out;
    background-color: transparent;
    pointer-events: none;
}


@keyframes pesticide1 {
    0% {
        left: 0px;
    }
    100% {
        left: 775px;
    }
}

@keyframes pesticide2 {
    0% {
        left: 775px;
    }
    100% {
        left: 0px;
    }
}


#cloud1 {
    position: absolute;
    top: 2.5px;
    left: 0px;
    animation-name: pesticide1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

#cloud2 {
    position: absolute;
    top: 102.5px;
    left: 775px;
    animation-name: pesticide2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

#cloud3 {
    position: absolute;
    top: 202.5px;
    left: 0px;
    animation-name: pesticide1;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

#cloud4 {
    position: absolute;
    top: 302.5px;
    left: 775px;
    animation-name: pesticide2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}
