#container {
    position: relative;
    left: 100px;
    width: 900px;
    height: 600px;
    border: 5px black solid;
    background-color: limegreen;
    cursor: pointer;
}

#beehive {
    position: absolute;
    left: 405px;
    width: 90px;
    height: 90px;
    top: 5px;
}

#garden {
    position: absolute;
    width: 900px;
    height: 400px;
    left: 0px;
    top: 100px;
    background-color: saddlebrown;
}

#flower1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 125px;
    top: 200px;
}

#flower2 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 175px;
    top: 350px;
}

#flower3 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 500px;
    top: 150px;

}

#flower4 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 400px;
    top: 275px;

}

#flower5 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 800px;
    top: 300px;

}

#flower6 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 650px;
    top: 400px;

}
